table,tr,td,th {
    border: thin solid #000000;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}
th {
    border: none;
}
.feedback {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bolder;
    color: #FF0000;
}
.v1 {
    background-color: #009900;
    text-align: justify;
    padding: 5px;
}
.v2 {
    background-color: #FFFF00;
    text-align: justify;
    padding: 5px;
}
.v3 {
    background-color: #990000;
    text-align: justify;
    padding: 5px;
}
.lil {
    font-size: x-small;
    color: #0000CC;
}
.erg * {
    padding: 3px
}
.cmtform {
    overflow: visible;
    position: absolute;
    visibility: hidden;
    background-color:#FFFFFF;
    border:thin solid #000000;
    width:450px;
    height:100px;
}
body {
    font-family:Arial, Helvetica, sans-serif;
}
.comments {
    width:50%;
    height:600px;
    overflow:auto;
}
.logo, .logo * {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.kommentare {
    left:450px;
    position:absolute;
    width:450px;
}
.players {
    float: left;
    width: 50%;
}
.players table {
    width: 100%;
}
.comments {
    margin: 0px 0px 0px 50%;
    overflow: auto;
}
header * {
    text-align: center;
}
.addButton {
    float:right;	
}
.comments .ui-widget-header {
    height:3em;
}

.ui-dialog form * {
    width: 95%;
        height:95%
}
