AddHandler x-httpd-php5 .php
<ifModule mod_deflate.c>
  <filesMatch "\.(css|js|x?html?|php)$">
    SetOutputFilter DEFLATE
  </filesMatch>
</ifModule>

RewriteEngine On
RewriteRule ^retro/([0-9]+)$ ./training.php?tid=$1 
RewriteRule ^([0-9]+)$ ./train2.php?tid=$1 
RewriteRule ^([0-9]+)/([a-zA-Z]+)$ ./index.php?tid=$1&action=$2 [QSA,L]
