<!DOCTYPE html>
<html lang="de" ng-app="shinyTrain">
  
  <head>
    <meta charset="utf-8">
    <title>Rugbears Training Site Redux
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Johannes Hund">
    <!-- Le styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
    <style>
    </style>
  </head>
  <body ng-controller="ShinyCtrl">
    
    <div class="navbar navbar-inverse navbar-fixed-top" >
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="index.html">Rugbears Training</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="index.html" class="">Home</a></li>
              <li><a href="#about" class="">About</a></li>
              <li><a href="#contact" class="">Contact</a></li>
            </ul>
            <form class="navbar-form pull-right" ng-show="usrname==''">
              <input class="span2" type="text" placeholder="Name">
              <button type="submit" class="btn">Anmelden</button>
            </form>
              <form class="navbar-form pull-right" ng-show="usrname!=''">
                  <strong>{{usrname}}</strong>&nbsp;
                  <button type="button" class="btn">Abmelden</button>
              </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
    <div class="container" id="content">
    
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="page-header">
        <h1 class="">{{details.what}} {{tid}}</h1>
        <div class="">von {{details.start | pdate| date: 'EEE dd.MM.yy HH:mm'}} bis {{details.end | pdate| date: 'EEE dd.MM.yy HH:mm'}}</div>
		<div class="">in {{details.where}}</div>
        <p></p>
      </div>
    
      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2 class="">Zusammenfassung</h2>
          <div ng-repeat="stat in details.stats">
              <div class="dropdown">
              <a class="dropdown-toggle">{{stat.vote}}: {{stat.count}}</a>
              <ul class="dropdown-menu">
                <li ng-repeat="vote in votes | filter: {vid :  stat.id}">
                  <a>{{vote.name}}</a>
                </li>
              </ul>
              </div>
          </div>
        </div>
        <div class="span4">
          <h2 class="">Abstimmen</h2>
          <div class="btn-group">
              <button type="button" class="btn btn-success" ng-model="myVote.vid" btn-radio="1" ng-class="{'btn-large' : myVote.vid==1}" ng-change="revote()">
                  Spiele
              </button>
              <button type="button" class="btn btn-warning" ng-model="myVote.vid" btn-radio="2" ng-class="{'btn-large' : myVote.vid==2}" ng-change="revote()">
                  Komme
              </button>
              <button type="button" class="btn btn-danger" ng-model="myVote.vid" btn-radio="3" ng-class="{'btn-large' : myVote.vid==3}" ng-change="revote()">
                  Komme nicht
              </button>
          </div>
       </div>
        <div class="span4">
          <h2 class="">Kommentare</h2>
          <a class="btn btn-primary" href="#">Neu...</a>
          <div>
              <div class="ui-widget-content" ng-repeat="comment in comments">
                  <strong>{{comment.autor}}</strong>&nbsp;<small>({{comment.time | pdate | date: 'EEE dd.MM HH:mm' }})</small>:<br />
                    {{comment.msg}}</div>
            </div>
          </div>
        </div>
      </div>
    
      <hr>
    
      <footer>
        <p class="">© Munich Rugbears 2013</p>
      </footer>
    
    </div> <!-- /container -->
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js" type="text/javascript"> </script>
     <script src="http://code.angularjs.org/1.0.7/i18n/angular-locale_de-de.js" type="text/javascript"></script>
     <script src="http://code.angularjs.org/1.0.7/angular-cookies.min.js" type="text/javascript"></script>
    
     <script src="../js/lib/ui-bootstrap.min.js"></script>  
     <script src="assets/js/bootstrap.min.js"></script> <!-- for nav-collabsible -->
    
     <script src="../js/ng-modules/pdate.js" type="text/javascript"></script>
    <script src="../js/controllers/shiny.js" type="text/javascript"></script>
     
    <!--
    
    <script src="../js/training-pack.min.js" type="text/javascript"></script>
   
    -->

    <style type="text/css">
      #content {
        padding-top: 60px;
        padding-bottom: 40px;
      }      
    </style>
  </body>
</html>
