<!DOCTYPE html >
<html>

<head>
<meta charset="utf-8">
<meta content="de" http-equiv="Content-Language" />
<title>Admin Panel</title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/themes/vader/jquery-ui.css" rel="stylesheet" type="text/css" />
<link href="../css/adminpanel.min.css" rel="stylesheet" type="text/css" />
<link href="../css/angular-ui.min.css" rel="stylesheet" type="text/css" />
</head>
<body ng-app="adminPanel">
<div class="ui-widget">
	<header class="ui-widget-header ui-corner-top">
		<div class="ui-state-default ui-corner-all logout">
			<span class="ui-icon ui-icon-closethick"></span></div>
		<h1>Munich Rugbears training site admin panel</h1>
	</header>
	<div id="vtab">
		<ul class="menubar ui-widget-content ui-corner-bl">
			<li><a href="#evnt">
			<img alt="Termine" height="128" src="../img/icons/stylistica/calendar.png" width="128" /></a></li>
			<li><a href="#usr">
			<img alt="Benutzer" height="128" src="../img/icons/stylistica/users.png" width="128" /></a></li>
			<li><a href="#cmt">
			<img alt="Kommentare" height="128" src="../img/icons/stylistica/comments.png" width="128" /></a></li>
		</ul>
		<div id="evnt" class="main ui-corner-br" ng-controller="eventAdmin">
			<table aa-data="events" ao-column-defs="eventColumnDefs" class="dat" my-table="" add-button="Neu">
				<thead>
					<tr>
						<th>Termin</th>
						<th>Ort</th>
						<th>Zeit</th>
                                                <th>Ende</th>
                                                <th>Typ</th>
                                                <th>Aktion</th>
					</tr>
				</thead>
			</table>
                        <div id="diagEvt" title="Add/Edit Event" jq-dialog dlg-State="dlgState">
                    <form>
                        <fieldset>
                            <input type="hidden" ng-model="curEvt.tid"/>
                            <label for="termin">Termin</label>
                            <input id="termin" name="termin" type="text" class="text ui-widget-content ui-corner-all" ng-model="curEvt.what"/>
                            <label for="time">Zeit</label>
                            <input id="time" type="datetime" name="time" class="text ui-widget-content ui-corner-all" ng-model="curEvt.when" date-time-picker date-format="yy-mm-dd" time-format="HH:mm:ss" />
                            <label for="time">Ende</label>
                            <input id="end" type="datetime" name="end" class="text ui-widget-content ui-corner-all" ng-model="curEvt.end" date-time-picker date-format="yy-mm-dd" time-format="HH:mm:ss" />
                            <label for="ort">Ort</label>
                            <input id="ort" name="ort" type="text" class="text ui-widget-content ui-corner-all" ng-model="curEvt.where" />
                            <label for="ort">Typ</label>
                            <select name="type" id="type" class="text ui-widget-content ui-corner-all" ng-model="curEvt.type">
                                <option value="TRAINING">Training</option>
                                <option value="OTHER">Anderes</option>
                            </select>
                            <!-- input id="type" name="type" type="text" class="text ui-widget-content ui-corner-all" ng-model="curEvt.type" /-->
                        </fieldset>
                    </form>
                </div>
	</div>
            <div id="usr" class="main ui-corner-br" ng-controller="userAdmin">
                <table aa-data="users" ao-column-defs="userColumnDefs" my-table="" class="dat" add-button="Neu">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>eMail</th>
                            <th>Aktion</th>
                        </tr>
                    </thead>
                </table>
                <div id="diagUsr" title="Add/Edit User" jq-dialog dlg-State="dlgState">
                    <form>
                        <fieldset>
                            <input type="hidden" id="usrid" ng-model="curUsr.id"/>
                            <label for="name">Name</label>
                            <input type="text" class="text ui-widget-content ui-corner-all" ng-model="curUsr.name" />
                            <label for="email">email</label>
                            <input type="email" class="text ui-widget-content ui-corner-all" ng-model="curUsr.email"/>
                        </fieldset>
                    </form>
                </div>
            </div>
		<div id="cmt" class="main ui-corner-br" ng-controller="commentAdmin">
			<table aa-data="comments" ao-column-defs="commentColumnDefs" class="dat" my-table="">
				<thead>
					<tr>
						<th>Event</th>
						<th>Autor</th>
						<th>Zeit</th>
						<th>Inhalt</th>
                                                <th>Aktion</th>
					</tr>
				</thead>
			</table>
		    <div id="diagCmt" title="Add/Edit Comment" jq-dialog dlg-State="dlgState">
                    <form>
                        <fieldset>
                            <input type="hidden" ng-model="curCmt.id"/>
                            <input type="hidden" ng-model="curCmt.tid"/>
                            <label for="autor">Autor</label>
                            <input id="autor" name="autor" type="text" class="text ui-widget-content ui-corner-all" ng-model="curCmt.autor"/>
                            <label for="time">Zeit</label>
                            <input id="time" type="datetime" name="time" class="text ui-widget-content ui-corner-all" ng-model="curCmt.time" ui-date="{'dateFormat' : 'yy-mm-dd'}" ui-date-format="yy-mm-dd"/>
                            <label for="msg">Inhalt</label>
                            <textarea id="msg" name="msg" type="text" class="text ui-widget-content ui-corner-all" ng-model="curCmt.msg"></textarea>
                        </fieldset>
                    </form>
                </div>
	</div>
</div>
<footer>
	Icons by <a href="http://dryicons.com">http://dryicons.com</a>
</footer>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-resource.min.js" type="text/javascript"></script>
<script src="../js/dist/admin-all.min.js" type="text/javascript"></script>
<script type="text/javascript">
//globals
 /* var butAdd = $("<button ng-click='dlgOpen()'>Neu</button>").button({
            icons: {
                primary: "ui-icon-plusthick"
            }
        }); */
//onload handler
$(function() {
	$("#vtab").tabs();
	$(".menubar li").addClass("ui-corner-all");
	$(".main").css("padding","0px");
	//butAdd.css("float","right");
	//$(".main .dataTables_filter").append(butAdd);
});
</script>

</body>

</html>
